@charset "UTF-8";

body {
   width: 100%;
   height: 100%;
   margin: 0;
}

.wrap {
   width: 100%;
   height: auto;
   margin: 0;
   min-height: 100%;
}

a {
   color: white;
   text-decoration: none;
}

/* 게시판 페이지번호 */
div #right a {
   color: black;
   text-decoration: none;
}

/* navbar 시작 -------------------------------- */
.navbar {
   display: flex;  /* 한줄(수평) 배치 */
   justify-content: space-between;  /* 시작과 끝은 기준선에 맞추고, 사이사이 space 동일 */
   align-items: center;   /* 수평-가운데 정렬 */
   background-color: lightblue;
   opacity: 0.88;
   padding: 8px 12px;
   border-style: none;
   text-decoration: none;
}

.navbar_title {
   list-style: none;   /* 리스트 불릿 없앰 */
   color: #d49466;
   display: flex; /* 한줄(수평) 배치 */
   padding-left: 10px;
   text-decoration: none;
}

.navbar_title li {
   font-size: 30px;  /* 타이틀 아이콘 사이즈 */
}

.navbar_menu {
   display: flex;  /* 한줄(수평) 배치 */
   list-style: none;   /* 리스트 불릿 없앰 */
   padding-left: 0px;
   font-weight: bold;
   font-size: 20px;
   text-decoration: none; 
}

.navbar_menu li {
   padding: 8px 30px;
   text-decoration: none;
}

.navbar_menu li:hover {  /* 마우스 올렸을 때 */   
   background-color: #efc2d3;
   border-radius: 4px;
}

.navbar_icons {
   margin: 0;
   display: flex;  /* 한줄(수평) 배치 */
   list-style: none;   /* 리스트 불릿 없앰 */
   padding-left: 0px;
   color: white;
   text-decoration: none;
}

.navbar_icons li {
   padding: 8px 15px;   
}

.navbar_icons li:hover {/* 마우스 올렸을 때 */   
   background-color: #efc2d3;
   border-radius: 4px;
}
/* navbar 종료 -------------------------------- */
























